.Model3
{
  font-family: 'Montserrat', sans-se;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.orderonlinefortouchlessdelivery
{
  font-family: 'Montserrat', sans-se;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}